<!DOCTYPE HTML>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Flask-SocketIO Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        global_gravitiy = ''
        $(document).ready(function () {
            namespace = '/test';
            
            printboard = [];
            var flag = 0

            var socket = io(namespace);


            socket.on('connect', function () {
                socket.emit('my_event', { data: 'I\'m connected!' });
            });

            socket.on('my_response', function (msg, cb) {
                flag = msg.flag;
                global_gravitiy = msg.gravitiy;

                if (msg.board) {
                    printboard = msg.board;
                    for (i = 0; i < printboard.length; i++) {
                        for (j = 0; j < printboard[i].length; j++) {
                            if (printboard[i][j] == 0) {
                                $("tr:eq(" + i + ") td:eq(" + j + ") img").attr("src", "");
                                $("tr:eq(" + i + ") td:eq(" + j + ") p").html(printboard[i][j]);
                            }
                            else if (printboard[i][j] == 1) {
                                $("tr:eq(" + i + ") td:eq(" + j + ") img").attr("src", "{{url_for('static', filename='img/black.png')}}");
                                $("tr:eq(" + i + ") td:eq(" + j + ") p").html(printboard[i][j]);
                            }
                            else if (printboard[i][j] == 2) {
                                $("tr:eq(" + i + ") td:eq(" + j + ") img").attr("src", "{{url_for('static', filename='img/white.png')}}");
                                $("tr:eq(" + i + ") td:eq(" + j + ") p").html(printboard[i][j]);
                            }
                            //$("tr:eq(" + i + ") td:eq(" + j + ") p").html(printboard[i][j]);
                        }
                    }
                }
                $('#log').append('<br>' + $('<div/>').text('Received : ' + msg.data).html());
                if (cb)
                    cb();
            });

            /* handler */
            $('form#join').submit(function (event) {
                socket.emit('join', { room: $('#join_room').val() });
                return false;
            });
            $('form#send_room').submit(function (event) {
                var myTableArray = [];
                $("#board tr").each(function () {
                    var arrayOfThisRow = [];
                    var tableData = $(this).find('p');
                    if (tableData.length > 0) {
                        tableData.each(function () { arrayOfThisRow.push($(this).text()); });
                        myTableArray.push(arrayOfThisRow);
                    }
                });

                var sel = $("#room_data").val();

                var copy = myTableArray; // copy <- my Table 

                if (global_gravitiy == "E") {
                    for (i = 6; i >= 0; i--) {
                        if (copy[sel][i] == 1 || copy[sel][i] == 2) {
                            try {
                                copy[sel][i + 1] = flag;
                            } catch (error) {
                                copy[sel][i - 1] = flag;
                            }
                        } else {
                            copy[sel][i] = flag; break;
                        }
                    }
                } else if (global_gravitiy == "W") {
                    for (i = 6; i >= 0; i--) {
                        if (copy[sel][i] == 1 || copy[sel][i] == 2) {
                            try {
                                copy[sel][i + 1] = flag;
                            } catch (error) {
                                copy[sel][i - 1] = flag;
                            }
                        } else {
                            copy[sel][i] = flag; break;
                        }
                    }
                } else if (global_gravitiy == "S") {
                    for (i = 6; i >= 0; i--) {
                        if (copy[i][sel] == 1 || copy[i][sel] == 2) {
                            try {
                                copy[i + 1][sel] = flag;
                            } catch (error) {
                                copy[i - 1][sel] = flag;
                            }
                        } else {
                            copy[i][sel] = flag; break;
                        }
                    }
                } else if (global_gravitiy == "N") {
                    for (i = 6; i >= 0; i--) {
                        if (copy[i][sel] == 1 || copy[i][sel] == 2) {
                            try {
                                copy[i + 1][sel] = flag;
                            } catch (error) {
                                copy[i - 1][sel] = flag;
                            }
                        } else {
                            copy[i][sel] = flag; break;
                        }
                    }
                }
                for (i = 0; i < copy.length; i++) {
                    for (j = 0; j < copy[i].length; j++) {
                        if (copy[i][j] == 0) {
                            $("tr:eq(" + i + ") td:eq(" + j + ") img").attr("src", "");
                            $("tr:eq(" + i + ") td:eq(" + j + ") p").html(copy[i][j]);
                        }
                        else if (copy[i][j] == 1) {
                            $("tr:eq(" + i + ") td:eq(" + j + ") img").attr("src", "{{url_for('static', filename='img/black.png')}}");
                            $("tr:eq(" + i + ") td:eq(" + j + ") p").html(copy[i][j]);
                        }
                        else if (copy[i][j] == 2) {
                            $("tr:eq(" + i + ") td:eq(" + j + ") img").attr("src", "{{url_for('static', filename='img/white.png')}}");
                            $("tr:eq(" + i + ") td:eq(" + j + ") p").html(copy[i][j]);
                        }
                        //$("tr:eq(" + i + ") td:eq(" + j + ") p").html(printboard[i][j]);
                    }
                }
                socket.emit('my_room_event', { room: $('#join_room').val(), data: copy });
                return false;
            });

            function cal(num, global_gravitiy, printboard, flag, socket){
                num -= 1;
                console.log(global_gravitiy, printboard, flag, socket)
                switch(global_gravitiy){
                    case "N":
                        alert("N")
                        for(var i = 6; i >= 0; i--){
                            if(printboard[i][num] = 0){
                                printboard[i][num] = flag;
                                document.getElementById(""+i+num).innerHTML(""+flag)
                                return true;
                            }
                        }
                        break;
                    case "E":
                        for(var i = 6; i >= 0; i--){
                            if(printboard[num][i] = 0){
                                printboard[num][i] = flag;
                                document.getElementById(""+i+num).innerHTML(""+flag)
                                return true;
                            }
                        }
                        break;
                    case "S":
                        for(var i = 0; i < 7; i++){
                            if(printboard[i][num] = 0){
                                printboard[i][num] = flag;
                                document.getElementById(""+i+num).innerHTML(""+flag)
                                return true;
                            }
                        }
                        break;
                    case "W":
                        for(var i = 0; i < 7; i++){
                            if(printboard[num][i] = 0){
                                printboard[num][i] = flag;
                                document.getElementById(""+i+num).innerHTML(""+flag)
                                return true;
                            }
                        }
                        
                }
                socket.emit('my_room_event', { room: $('#join_room').val(), data: printboard });
            }

            $('button#btn1').click(event =>{
                cal(1, global_gravitiy, printboard, flag, socket)               
            })
            $('button#btn2').click(event =>{
                cal(2,global_gravitiy, printboard, flag, socket)               
            })
            $('button#btn3').click(event =>{
                cal(3,global_gravitiy, printboard, flag, socket)               
            })
            $('button#btn4').click(event =>{
                cal(4,global_gravitiy, printboard, flag, socket)               
            })
            $('button#btn5').click(event =>{
                cal(5,global_gravitiy, printboard, flag, socket)               
            })
            $('button#btn6').click(event =>{
                cal(6,global_gravitiy, printboard, flag, socket)               
            })
            $('button#btn7').click(event =>{
                cal(7,global_gravitiy, printboard, flag, socket)               
            })

            $('form#disconnect').submit(function (event) {
                socket.emit('disconnect_request');
                return false;
            });
        });
        
        
        

    </script>
    <style>
        #logdata {
            height: 300px;
        }

        #board img {
            width: 30px;
            height: 30px;
            margin: 0;
            padding: 0;
        }

        #board p {
            display: none;
        }

        #board td {
            width: 50px;
            height: 50px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <form id="join" method="POST" action='#' class="row">
                        <input type="text" name="join_room" id="join_room" placeholder="Room Name"
                            class="form-control col m-1">
                        <input type="submit" value="Join Room" class="btn btn-light col m-1">
                    </form>
                </div>

                <div class="form-group">
                    <form id="send_room" method="POST" action='#' class="row">
                        <input type="text" name="room_data" id="room_data" placeholder="Message"
                            class="form-control col m-1">
                        <input type="submit" value="Send" class="btn btn-light col m-1">
                    </form>
                </div>

                <div class="form-group text-center m-0">
                    <form id="disconnect" method="POST" action="#">
                        <input type="submit" value="Disconnect" class="btn btn-light">
                    </form>
                </div>
            </div>
        </div>

        <div class="text-center" align=center>
            <table id="board" class="w-100" border="1">
                <tr>
                    <td>
                        <p id='00'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='01'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='02'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='03'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='04'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='05'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='06'></p>
                        <img src="" alt="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id='10'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='11'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='12'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='13'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='14'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='15'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='16'></p>
                        <img src="" alt="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id='20'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='21'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='22'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='23'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='24'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='25'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='26'></p>
                        <img src="" alt="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id='30'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='31'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='32'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='33'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='34'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='35'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='36'></p>
                        <img src="" alt="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id='40'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='41'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='42'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='43'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='44'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='45'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='46'></p>
                        <img src="" alt="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id='50'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='51'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='52'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='53'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='54'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='55'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='56'></p>
                        <img src="" alt="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id='60'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='61'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='62'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='63'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='64'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='65'></p>
                        <img src="" alt="">
                    </td>
                    <td>
                        <p id='66'></p>
                        <img src="" alt="">
                    </td>
                </tr>
            </table>
            
            <div class="row pr-2 pl-2" id="wrapper">
                <button id="btn1" class="col btn btn-light" >1</button>
                <button id="btn2" class="col btn btn-light" >2</button>
                <button id="btn3" class="col btn btn-light" >3</button>
                <button id="btn4" class="col btn btn-light" >4</button>
                <button id="btn5" class="col btn btn-light" >5</button>
                <button id="btn6" class="col btn btn-light" >6</button>
                <button id="btn7" class="col btn btn-light" >7</button>
            </div>
        </div>

        <div id="logdata">
            <h5>Receive:</h5>
            <div id="log"></div>
        </div>

    </div class="container">


        


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>